body {
    background-image : url("../image/battle_back.jpg");
    background-color: #222227
}

.header__title {
    text-align: center;
    color : black;
    margin : 0;
}

.footer__attribution {
    text-align: center;
    display: block;
}

.action_button {
    display: inline;
    text-align: center;
}